{include file="public/header" /}
{include file="public/head" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/news/news_info.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12" style="height: 29px"></div>
            <!--标题-->
            <div class="col-md-12 text-center">
                <h3>{$result.ns_title}</h3>
            </div>
            <div class="col-md-12" style="height: 16px"></div>
            <!--线-->
            <div class="col-md-12" style="border: 1px solid #A9A9A9"></div>
            <div class="col-md-12" style="height: 23px"></div>
            <div class="col-md-12">
                {$result.ns_descript}
            </div>
            <div class="col-md-12">
                <h6>大湖羊皮也称“老羊皮”，是10月以上的大湖羊所宰剥的皮板，毛长6-9cm，是制革的好原料。此外，湖羊的毛属异质羊毛，非常适宜织地毯和粗呢绒。</h6>
                <h6>湖羊的肉</h6>
                <h6>湖羊肉质细嫩、鲜美、膻味轻，净肉率高，不管是热气沸腾的涮羊肉、色泽红亮的红烧羊肉、酥而不腻黄酒羊肉，还是原汁原味的白切羊肉都是秋冬季节羊肉的最佳吃法。</h6>
            </div>
            <div class="col-md-12" style="height: 81px"></div>
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <h6><a href="/newsInfo/{$result.up.ns_id}">上一篇:{$result.up.ns_title}</a></h6>
                <h6><a href="/newsInfo/{$result.next.ns_id}">下一篇:{$result.next.ns_title}</a></h6>
            </div>
            <div class="col-md-12" style="height: 43px"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}