{include file="public/header" /}
{include file="public/head" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/news/news_info.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12" style="height: 44px"></div>
            <div class="col-md-2">
                <img src="/static/www/img/news/yang_tou.png" width="100%">
            </div>
            <div class="col-md-8">
                <h5>这一世，唯有湖羊不可辜负</h5>
                <h7>
                    春渐暖，湖羊美，到了品尝美味羊肉的最佳季节。羊肉鲜美的味道常常让人回味不已。羊的品种有很多，
                    黄羊、山羊、绵羊、羚羊......哪一种羊的味道最鲜美呢？俗话说：“一千个读者，就有一千个哈姆雷特”，
                    哪一种羊的肉最鲜美，答案当然是——湖羊。湖羊是我国特有的白色羔皮绵羊地方品.............
                </h7>
            </div>
            <div class="col-md-2" style="margin-top: 35px">
                <a href="/newsInfo"><img src="/static/www/img/news/info.png" width="100%"></a>
            </div>
            <div class="col-md-12" style="height: 15px;"></div>
            <!--线-->
            <div class="col-md-12" style="border: 1px solid rgba(181,181,181,1)"></div>
            <!--页码-->
            <div class="col-md-12 text-center"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}