{include file="public/header" /}
{include file="public/head" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/news/news_info.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12" style="height: 29px"></div>
            <!--标题-->
            <div class="col-md-12 text-center">
                <h3>{$result.ns_title}</h3>
            </div>
            <div class="col-md-12" style="height: 16px"></div>
            <!--线-->
            <div class="col-md-12" style="border: 1px solid #A9A9A9"></div>
            <div class="col-md-12" style="height: 23px"></div>
            <div class="col-md-12">
                {$result.ns.content}
            </div>
            <div class="col-md-12" style="height: 81px"></div>
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <h6><a href="/newsInfo/{$result.up.ns_id}">上一篇:{$result.up.ns_title}</a></h6>
                <h6><a href="/newsInfo/{$result.next.ns_id}">下一篇:{$result.next.ns_title}</a></h6>
            </div>
            <div class="col-md-12" style="height: 43px"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}