{include file="public/header" /}
{include file="public/head" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/news/news_info.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding: 0 5px 0 5px">
            <div class="col-md-12" style="height: 44px"></div>
            {volist name="list" id="vo"}
            <div class="col-md-12 padding-0">
                <div class="col-md-2" style="padding-left: 0">
                    <img src="{$imgpath}{$vo.ns_img}" width="100%">
                </div>
                <div class="col-md-8">
                    <h5>{$vo.ns_title}</h5>
                    <h7>
                        {$vo.ns_descript}
                    </h7>
                </div>
                <div class="col-md-2" style="margin-top: 35px">
                    <a  href="/newsInfo/{$vo.ns_id}"><img class="info-img" src="/static/www/img/news/info.png"></a>
                </div>
                <div class="col-md-12" style="height: 15px;"></div>
                <!--线-->
                <div class="col-md-12" style="border: 1px solid rgba(181,181,181,1)"></div>
                <div class="col-md-12" style="height: 15px;"></div>
            </div>
            {/volist}
            <!--页码-->
            <div class="col-md-12 text-center">
                {$list->render()}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}