{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/home/home.css" rel="stylesheet">
<div class="container-fluid padding-0">
    <div class="row margin-0">
        <div class="col-md-12 home-bj">
            <div class="col-md-5"></div>
            <div class="col-md-5" style="margin-top: 30px">
                <h3 class="text-center">中农之家</h3>
                <h6>
                    中农之家是中农伟业有限公司推出的一款互联网养羊理财产品，是改善育肥羊产业链结构的垂直类农牧业互联网+科技公司品牌，
                    是区别于传统互联网产品形态的一个全新平台。
                </h6>
                <h6>
                    致力于打通用户理财需求和农牧业企业扩大养殖规模以及消除屠宰场账期平稳过渡的资金压力需求，
                    平台上线有120天育肥羊和50天经销商羊两个产品。
                </h6>
                <div class="col-md-12 text-center" style="margin-top: 24px">
                    <img src="/static/www/img/home/down.png" style="width: 35%">
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
        <!--手机上的生态牧场-->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-6" style="margin-top: 50px">
                <h2>手机上的生态牧场</h2>
                <br>
                <h7>
                    中农之家让都市用户在手机端可以饲养一只真实羊只，养殖周期120天，牧场获得发展资金为用户饲养小羊，
                    120天出栏宰杀后，用户可以收回本息
                </h7>
                <br>
                <br>
                <br>
                <h7>
                    在整个过程中，中农之家为普通用户和牧场搭建起一座桥梁，对信息沟通和资金流转起到了至关重要的作用。
                </h7>
                <br>
                <br>
                <br>
                <img src="/static/www/img/home/down_button.png" style="width: 40%">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5" style="margin-top: 42px">
                <img src="/static/www/img/home/right.png" style="width: 100%">
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12" style="height:50px "></div>
    </div>
</div>
{include file="public/foot" /}