<link type="text/css" href="/static/www/css/index.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="3"></div>
            <div class="3"></div>
            <div class="6"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/www/js/bootstrap.js"></script>
    <script>
      $(function(){

      })
    </script>
  </body>
</html>
