<link type="text/css" href="/static/www/css/foot.css" rel="stylesheet">
<div class="container-fluid padding-0">
    <div class="row margin-0 ">
        <div class="col-md-12 foot-bj padding-0">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin-top: 38px">
                <div class="col-md-4">
                    <div class="col-md-12">
                        <h11>山东中农伟业有限公司</h11>
                        <ul class="list-unstyled foot-size" style="margin-top: 19px;width: 100%">
                            <li>地址：山东省济宁市泗水县泗张镇北陈村</li>
                            <li>邮编：250000</li>
                            <li>电话：0537-4321 777</li>
                            <li>邮箱：xxxx@joinnon.cn</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12 text-center">
                        <img src="/static/www/img/foot/wechat.png"  style="margin-bottom: 10px;width: 100%">
                        <h8>信扫一扫添加企业微信</h8>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <form class="form-bj" >
                        <div class="form-group ">
                            <input type="text" class="form-control" id="name" placeholder="姓名">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="tel" placeholder="电话">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="back" rows="3" placeholder="留言"></textarea>
                        </div>
                        <a><img src="/static/www/img/foot/jia_meng_dai_li.png"></a>
                        <a style="margin-left: 10px"><img src="/static/www/img/foot/submit.png"></a>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" style="height: 20px"></div>
        </div>
        <div class="col-md-12" style="background-color: #262626;height: 30px">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="line-height: 30px"><h8>Copyright © 2017　中农伟业农业开发有限公司</h8></div>
        </div>
    </div>
</div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/www/js/bootstrap.js"></script>
    <script>
      $(function(){

      })
    </script>
  </body>
</html>
