<link type="text/css" href="/static/www/css/head.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid" style="padding: 0px;background: #FFF">
    <div class="row margin-0">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 13px">
            <div class="col-md-2">
                <img src="/static/www/img/head/LOGO.png">
            </div>
            <div class="col-md-6 text-menu">
                <ul class="list-unstyled">
                    <li><a href="/">首页</a></li>
                    <li><a href="/aboutMiddle">关于中农</a></li>
                    <li><a href="/industry">全产业链</a></li>
                    <li><a href="/product">中农产品</a></li>
                    <li><a href="/news">新闻资讯</a></li>
                    <li><a href="/home">中农之家</a></li>
                    <li><a href="/contact">联系我们</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <img src="/static/www/img/head/4006-799997.png" width="100%">
            </div>
            <div class="col-md-2" style="">
                <img src="/static/www/img/head/tian_mao.png" width="100%">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>