small{
    font-size:14px;
    font-family:FZLTXHK;
    font-weight:400;
    color:rgba(101,100,99,1);
}
.bj{
    background:url('/static/www/img/about_middle/breed/bj.png')  center;
    background-size:cover;
}
.body-top{
    height: 41px;
}
.body-top h2{
    font-size:28px;
    font-family:FZLTXHK;
    font-weight:400;
    color:rgba(61,61,61,1);
    line-height:22px;
}