{include file="public/header" /}
{include file="public/head" /}
{include file="public/about/head" /}
<link type="text/css" href="/static/www/css/index.css" rel="stylesheet">
<link type="text/css" href="/static/www/css/about/breed.css" rel="stylesheet">
<div class="container-fluid bj">
    <div class="row body-top">
        <!--行高-->
        <div class="col-md-12" style="height: 43px"></div>
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <p class="title">养殖模式</p>
            <small class="small">CULTIVATION MODE</small>
            <div class="col-md-12" style="height: 60px"></div>
            <div class="col-md-12">
                <img src="/static/www/img/about_middle/breed/nong_qu.png" width="100%">
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12" style="height: 129px"></div>
    </div>
</div>
{include file="public/foot" /}