{include file="public/header" /}
{include file="public/head" /}
{include file="public/about/head" /}
<link type="text/css" href="/static/www/css/about/breed.css" rel="stylesheet">
<div class="container-fluid bj">
    <div class="row" style="margin-top: 42px">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h3>养殖模式</h3>
            <small>CULTIVATION MODE</small>
            <div class="col-md-12" style="margin-top: 52px">
                <img src="/static/www/img/about_middle/breed/nong_qu.png" width="100%">
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12" style="height: 129px"></div>
    </div>
</div>
{include file="public/foot" /}