{include file="public/header" /}
{include file="public/head" /}
{include file="public/about/head" /}
<link type="text/css" href="/static/www/css/about/culture.css" rel="stylesheet">
<div class="container-fluid" style="background-image: url('/static/www/img/culture/bj.png')">
    <div class="row">
        <!--行高-->
        <div class="col-md-12" style="height: 44px"></div>
        <!--标题-->
        <div class="col-md-12 text-center">
            <h2>企业文化</h2>
            <small>THE ENTERPRISE CULTURE</small>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 47px"></div>
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                <div class="corporate-culture-one">
                    <!--上面-图片-->
                    <div class="col-md-5">
                        <img class="img-1"  src="/static/www/img/culture/a.png">
                    </div>
                    <!--上面-文字-->
                    <div class="col-md-1">
                        <img src="/static/www/img/culture/text.png" style="position: absolute;right: 0px">
                        <img class="green-line" src="/static/www/img/culture/text.png">
                    </div>
                    <div class="col-md-6 div-1">
                        <h3>企业精神</h3>
                        <h5>敦本务实——崇尚根本，注重实际</h5>
                        <h5>敦本：方厚正派的处事原则，踏实本分的谋事策略</h5>
                        <h5>务实：笃行合一的行事态度，深耕务实的做事方式</h5>
                        <h3 class="enterprise-mission" >企业使命</h3>
                        <h5>为全球消费者奉献草原生态食品</h5>
                    </div>
                </div>

                <!--行高-->
                <div class="col-md-12" style="height: 62px"></div>
                <div class="col-md-1 two-left-img">
                    <img src="/static/www/img/culture/text.png">
                    <img src="/static/www/img/culture/text.png">
                    <img src="/static/www/img/culture/text.png">
                </div>
                <div class="col-md-5 two-left">
                    <h3>目标愿景</h3>
                    <h5>成为最受尊敬的草原生态食品百年企业</h5>
                    <h3 >经营宗旨</h3>
                    <h5>为顾客创造价值，为社会创造繁荣</h5>
                    <h5>为员工创造财富，为企业创造效益</h5>
                     <h3>价值观</h3>
                    <h5>诚信 专业 包容 品质 创新</h5>
                </div>
                <!--上面-图片-->
                <div class="col-md-6">
                    <img src="/static/www/img/culture/b.png" width="100%">
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 45px"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}