{include file="public/header" /}
{include file="public/head" /}
{include file="public/about/head" /}
<link type="text/css" href="/static/www/css/about/about.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!--行高-->
        <div class="col-md-12" style="height: 31px"></div>
        <!--标题-->
        <div class="col-md-12 text-center">
            <h2>企业简介</h2>
            <small>ENTERPRISE BRIEF INTRODUCTION</small>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 61px"></div>
        <!--4个标题-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-3 text-center">
                    <h12>公司投资</h12>
                    <h3>3000万</h3>
                </div>
                <div class="col-md-3 text-center">
                    <h12>占地</h12>
                    <h3>130亩</h3>
                </div>
                <div class="col-md-3 text-center">
                    <h12>建筑面积</h12>
                    <h3>20000平方米</h3>
                </div>
                <div class="col-md-3 text-center">
                    <h12>基础母羊</h12>
                    <h3>10000只</h3>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 35px"></div>
        <!--文字介绍-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--第一段文字介绍-->
                <div class="col-md-12">
                    <h6>
                        中农伟业生态养殖羊场位于济宁市泗水县，是由山东中农伟业农业开发有限公司投资3000万建设，项目占地130亩，建筑面积20000平方米。
                        项目建成后将引进纯种的青山羊、湖羊和一些国际上的优质品种羊，建设成为存栏10000只基础母羊的繁殖和育肥基地。
                        该项目集良种繁育与优质肉羊生产为一体，采用国际先进TMR全混合日粮饲喂方式。现代化粪污处理方式，引进有机肥生产工艺，
                        年生产有机肥10000吨，公司大量收购农作物秸秆作为贮备饲料，每年可消化废弃农作物秸秆20000吨，
                        可减少焚烧秸秆造成的碳排放和大气污染，切实破解规模养殖污染治理和粪便资源化利用等一系列难题，促进经济可持续循环发展。
                    </h6>
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 10px"></div>
                <!--第二段文字介绍-->
                <div class="col-md-12">
                    <h6>
                        山东中农伟业农业开发有限公司成立于2017年，公司紧密围绕国家农业经济结构调整模式，践行绿色发展概念，坚持农牧结合发展。
                        中农伟业生态养殖羊场位于济宁市泗水县，是由山东中农伟业农业开发有限公司投资3000万建设，项目占地130亩，建筑面积20000平方米。
                        项目建成后将引进纯种的青山羊、湖羊和一些国际上的优质品种羊，建设成为存栏10000只基础母羊的繁殖和育肥基地。
                        该项目集良种繁育与优质肉羊生产为一体，采用国际先进TMR全混合日粮饲喂方式。现代化粪污处理方式，引进有机肥生产工艺，
                        年生产有机肥10000吨，公司大量收购农作物秸秆作为贮备饲料，每年可消化废弃农作物秸秆20000吨，
                        可减少焚烧秸秆造成的碳排放和大气污染，切实破解规模养殖污染治理和粪便资源化利用等一系列难题，促进经济可持续循环发展。
                        中农伟业高品质的健康美食，只为家人多一份关心，给爱人添一份营养。
                    </h6>
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 5px"></div>
                <!--图片-->
                <div class="col-md-12">
                    <img src="/static/www/img/about_middle/text_pic.png" width="100%">
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 5px"></div>
                <!--第三段文字介绍-->
                <div class="col-md-12">
                    <h6>
                        公司将通过与高等院校和科研院合作，产学研紧密结合，着力打造高档肉羊良种繁育、规模化育肥、现代化屠宰分割、
                        精深化加工及品牌化营销为一体的科研型全产业链企业。实施标准化的质量管理体系，确保生产过程可追溯，
                        达到ISO9001质量管理体系认证，HACCP食品安全体系认证和麦咨达食品安全可追溯系统销售认证的标准，
                        努力打造成为国家标准化示范养殖场和山东省农业产业化重点龙头企业，发挥促进增收的经济功能、带动就业的社会功能、
                        保护传承农耕文明的文化功能和美化乡村环境的生态功能。
                    </h6>
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 40px"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}