{include file="public/header" /}
{include file="public/head" /}
{include file="public/about/head" /}
<link type="text/css" href="/static/www/css/about/sightseeing.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row text-one">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!--行高-->
            <div class="col-md-12" style="height: 44px"></div>
            <!--标题-->
            <div class="col-md-12 text-center">
                <h9>观光生态园</h9><br>
                <div class="col-md-12" style="height: 11px"></div>
                <h10>TOURIST ECOLOGICAL PARK</h10>
            </div>
            <!--行高-->
            <div class="col-md-12" style="height: 65px"></div>
            <div class="col-md-12">
                <!--上面图片-->
                <div class="col-md-8 img-one">
                    <img  src="/static/www/img/sightseeing/a.png">
                </div>
                <!--上面文字-->
                <div class="col-md-4">
                    <div class="col-md-2">
                        <h1>泉</h1>
                        <h1>林</h1>
                    </div>
                    <div class="col-md-10" style="margin-top: 58px;color: #8DBE42;">
                        <h6>SPRING</h6>
                        <h6>WATER</h6>
                    </div>
                    <div class="col-md-12 enterprise-mission">
                        <p>
                            山泉羊饮用水来自国内知名的泉林泉群地下泉脉。泉林泉
                            群位于泗水城东25公里陪尾山下，因名泉荟萃，泉多如
                            林，故称泉林。
                        </p>
                        <p>
                            泉群地处泰沂低山丘陵边缘，东部陪尾山海拔130米，西部
                            汶泗断层地堑处在100米以下。山麓盆地相接处，众泉会
                            聚，形成泉群奇观。是山东省最大的上升泉，涌水量为12
                            万吨/日。泉水来自地下深处，水温常年保持在16－18℃之
                            间,水质清冽，硬度大，PH值在0.7以上，泉水无砷、汞、镉
                            等有毒物质，钦用则甘甜爽口，煮茶则色清味正，酿酒则
                            酒冽生香，常钦此泉水能 清心爽神，延年益寿。
                        </p>
                    </div>
                </div>
            </div>
            <!--行高-->
            <div class="col-md-12" style="height: 46px"></div>
            <div class="col-md-12 text-two">
                <!--下面图片-->
                <div class="col-md-3">
                    <div class="col-md-12 text-bj" >
                        <div class="col-md-2">
                            <h1>垂</h1>
                            <h1>钓</h1>
                        </div>
                        <div class="col-md-10" style="margin-top: 54px;">
                            <h6>FISHING</h6>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px">
                            <p>
                                园区占地面积130亩，是一座垂钓、会务接待和休闲观光为一体的原生态度假园。更有机会品尝到与众不同的绿色有机羊肉，
                                公司充分利用天然资源与自有资源，全力打造一个以羊文化，羊饮食为主体品牌的现代农业生态园。
                            </p>
                        </div>
                    </div>
                </div>
                <!--下面图片-->
                <div class="col-md-9">
                    <img src="/static/www/img/sightseeing/b.png">
                </div>
            </div>
            <div class="col-md-12 foot-hight"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}