{include file="public/header" /}
{include file="public/head" /}
{include file="public/about/head" /}
<link type="text/css" href="/static/www/css/index.css" rel="stylesheet">
<link type="text/css" href="/static/www/css/about/traceability.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center" style="margin-top: 42px">
            <p class="title">溯源体系</p>
            <small class="small">TRACEABILITY SYSTEM</small>
            <div class="col-md-12" style="background-color: #8DBE42;margin-top: 61px">
                <h6>为了确保消费者舌尖上的安全，中农伟业通过自建牧场及屠宰加工基地，建立了畜产品质量全程追溯体系。</h6>
            </div>
            <div class="col-md-12" style="margin-top: 21px">
                <div class="col-md-4">
                    <img src="/static/www/img/about_middle/traceability/a.png" style="width: 56%">
                </div>
                <div class="col-md-8 lv_interval">
                    <div class="col-md-12 lv_bj">
                        <h5>应用条码扫描和二维码技术进行养殖环节和屠宰加工环节的质量安全管理与控制。</h5>
                    </div>
                    <div class="col-md-12 lv_bj">
                        <h5>
                            养殖场通过电子耳标管理收集养殖信息，屠宰加工场通过电子标签（RFID无线射频条码）汇总养殖、屠宰加工信息，
                            消费者通过二维码扫描，可获得产品的相关信息。
                        </h5>
                    </div>
                    <div class="col-md-12 lv_bj">
                        <h5>
                            追溯系统建设单位网联肉羊瘦肉精的快速检测、检测数据上传、追溯平台基础信息的填报和追溯条码的打印
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="height: 99px"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}