<link type="text/css" href="/static/www/css/news/head.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid padding-0">
    <div class="row margin-0 ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12 padding-0">
                <div id="myCarousel" class="carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        {volist name="banner" id="vo"}
                            {if $i == 1}
                                <div class="item active">
                                    <img src="{$banner_pic}{$vo.br_pic}" alt="First slide">
                                </div>
                            {else /}
                                <div class="item">
                                    <img src="{$banner_pic}{$vo.br_pic}" alt="Second slide">
                                </div>
                            {/if}
                        {/volist}
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-12 head-boom">
                <ul class="list-unstyled foot-text">
                    <li>新闻导航</li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-6" style="margin-left: -20px">
        </div>
        <div class="col-md-2"></div>
    </div>
</div>