<link type="text/css" href="/static/www/css/news/head.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid padding-0">
    <div class="row margin-0 ">
        <div class="col-md-2"></div>
        <div class="col-md-8 padding-0">
            {include file="public/banner" /}
            <div class="col-md-12 head-boom">
                <ul class="list-unstyled foot-text">
                    <li>新闻导航</li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-6" style="margin-left: -20px">
        </div>
        <div class="col-md-2"></div>
    </div>
</div>