{include file="public/header" /}
{include file="public/head" /}
{include file="public/product/head" /}
<link type="text/css" href="/static/www/css/index.css" rel="stylesheet">
<link type="text/css" href="/static/www/css/product/product.css" rel="stylesheet">
<div class="container-fluid padding-0">
    <div class="row margin-0">
        <!--白色背景-->
        <div class="col-md-12" style="height: 300px">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--行高-->
                <div class="col-md-12" style="height: 28px"></div>
                <!--标题-->
                <div class="col-md-12 text-center">
                    <p class="title">冷鲜肉系列</p>
                    <small class="small">COLD FRESH MEAT SERIES</small>
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 32px"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--灰色背景-->
        <div class="col-md-12 hui">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-12 location">
                    <div class="col-md-4 padding-0" style="height: 254px;padding-left: 15px">
                        <img src="/static/www/img/product/one_pic.png" style="height: 254px;width: 100%;">
                    </div>
                    <div class="col-md-8" style="background:rgba(255,255,255,1);height: 254px;border:1px solid rgba(181,181,181,1);">
                        <h5>
                            中农伟业冷鲜羊肉选用山泉羊优质羊源，保证羊只屠宰前最佳状态，避免激素及有害物质的产生。
                            屠宰线采用国内最先进的屠宰生产线，屠宰全程无菌操作控制，避免屠宰过程胴体的交叉污染，
                            胴体经冷却排酸4小时后，从剔分割、修选、称量，包装到成品入库，车间加工环境全程0~4℃低温操作，
                            生产车间1 0万级空气无菌控制，严格限制各环节及产品的微生物指标，检测肉PH值变化，保证肉的品质。
                        </h5>
                    </div>
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 150px"></div>
                <!--羊颈排-->
                <div class="col-md-12">
                    {volist name="list" id="vo" }
                    <div class="col-md-4">
                        <img src="{$product_pic}{$vo.pt_pic}" style="width: 100%">
                        <div class="col-md-12" style="background:rgba(231,231,231,1);">
                            <h4>{$vo.pt_title}</h4>
                        </div>
                    </div>
                        {if $i%3 == 0}
                            <!--行高-->
                            <div class="col-md-12" style="height: 46px"></div>
                        {/if}
                    {/volist}
                <!--行高-->
                <div class="col-md-12" style="height: 111px"></div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>
{include file="public/foot" /}