{include file="public/header" /}
{include file="public/about/head" /}
<link type="text/css" href="/static/www/css/product/product.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!--白色背景-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--行高-->
                <div class="col-md-12" style="height: 28px"></div>
                <!--标题-->
                <div class="col-md-12 text-center"></div>
                <!--行高-->
                <div class="col-md-12" style="height: 32px"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--灰色背景-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-4"></div>
                <div class="col-md-8"></div>
                <!--行高-->
                <div class="col-md-12" style="height: 61px"></div>
                <!--羊颈排-->
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 46px"></div>
                <!--羊腿-->
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <!--行高-->
                <div class="col-md-12" style="height: 78px"></div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>
{include file="public/cn/cn_foot" /}