{include file="public/header" /}
{include file="public/head" /}
{include file="public/contact/head" /}

<link type="text/css" href="/static/www/css/contact/contact.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="height: 46px"></div>
        <div class="col-md-3"></div>
        <div class="col-md-7 body-content">
            <h5>中农伟业为您提供多种联系方式，您可以24小时随时与我们联系！</h5>
            <div class="col-md-12 underline margin-top-13"></div>
            <div class="col-md-12 padding-0 margin-top-1">
                <div class="col-md-1 padding-0 ">
                    <img src="/static/www/img/contact/tel.png">
                </div>
                <div class="col-md-11 padding-0">
                    <h6>电话：0537-4321 777   传真：0537-4321 777</h6>
                    <h6>(周一至五09:00-17:00，节假日休息)</h6>
                </div>
            </div>
            <div class="col-md-12 padding-0" style="margin-top: 35px;background:rgba(248,248,248,1);">
                <div class="col-md-1 padding-0" style="width: 35px">
                    <img src="/static/www/img/contact/two.png">
                </div>
                <div class="col-md-11 padding-0">
                    <h6>24小时客服热线： 4006-799997</h6>
                </div>
            </div>
            <div class="col-md-12 padding-0" style="margin-top: 35px">
                <div class="col-md-1 padding-0" style="width: 35px">
                    <img src="/static/www/img/contact/three.png">
                </div>
                <div class="col-md-11 padding-0">
                    <h6>24小时网上在线客服</h6>
                </div>
            </div>
            <div class="col-md-12 padding-0" style="margin-top: 35px;background:rgba(248,248,248,1);">
                <div class="col-md-1 padding-0" style="width: 35px">
                    <img src="/static/www/img/contact/qq.png">
                </div>
                <div class="col-md-11 padding-0">
                    <h6>QQ在线客服：800025790</h6>
                </div>
            </div>
            <div class="col-md-12 padding-0" style="margin-top: 35px">
                <div class="col-md-1 padding-0" style="width: 35px">
                    <img src="/static/www/img/contact/email.png">
                </div>
                <div class="col-md-11 padding-0">
                    <h6>客服E-mail：joinnon@joinnon.com</h6>
                </div>
            </div>
            <div class="col-md-12 padding-0" style="margin-top: 35px;background:rgba(248,248,248,1);">
                <div class="col-md-1 padding-0" style="width: 35px">
                    <img src="/static/www/img/contact/address.png">
                </div>
                <div class="col-md-11 padding-0">
                    <h6>公司地址：山东省济宁市泗水县泗张镇北陈村</h6>
                </div>
            </div>
            <div class="col-md-12 padding-0" style="margin-top: 35px">
                <div class="col-md-1 padding-0" style="width: 35px">
                    <img src="/static/www/img/contact/wechat.png">
                </div>
                <div class="col-md-11 padding-0">
                    <h6>微信扫描二维码添加官方微信</h6>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 35px;">
                <img src="/static/www/img/contact/er_wei_ma.png">
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12" style="height: 80px"></div>
    </div>
</div>
{include file="public/foot" /}