{include file="public/header" /}
{include file="public/contact/head" /}
<link type="text/css" href="/static/www/css/contact/contact.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12" style="height: 32px"></div>
            <div class="col-md-12"></div>
            <div class="col-md-12" style="height: 62px"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/cn/cn_foot" /}