.head-boom{
    height: 50px;
    background-color: #8dbe42;
}
.foot-text li{
    color: #FFF;
    font-size: 14px;
    line-height: 50px;
    margin-left: 20px;
}
.bj-pic h6{
    font-size:11px;
    font-family:FZLTXHK;
    font-weight:400;
    color:rgba(255,255,255,1);
}
@media (min-width:1367px) {
    .bj-pic h6{
        font-size:16px;
        font-family:FZLTXHK;
        font-weight:400;
        color:rgba(255,255,255,1);
    }
    .foot-text li{
        color: #FFF;
        font-size: 16px;
        line-height: 50px;
        margin-left: 20px;
    }
}
