<link type="text/css" href="/static/www/css/about/head.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid padding-0">
    <div class="row margin-0">
        <div class="col-md-12 padding-0">
            <img src="/static/www/img/aboutHead/bj.png" width="100%">
            <div class="col-md-12 padding-0">
                <div class="col-md-12 padding-0 foot-head">
                    <div class="col-md-5"></div>
                    <div class="col-md-5">
                        <ul class="list-unstyled foot-text">
                            <li><a href="/abbreviation">企业简介</a></li>
                            <li><a href="/culture">企业文化</a></li>
                            <li><a href="/sightseeing">观光生态园</a></li>
                            <li><a href="/breed">养殖模式</a></li>
                            <li><a href="/traceability">溯源体系</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>

    </div>
</div>