.head-boom{
    height: 50px;
    background-color: #8dbe42;
}
.foot-text li{
    font-size: 14px;
    color: #FFF;
    line-height: 50px;
    margin-left: 20px;
}
.head-bj h6{
    font-size:11px;
    font-family:FZLTXHK;
    font-weight:400;
    color:rgba(254,250,250,1);
    line-height:19px;
}
@media (min-width:1367px) {
    .head-bj h6{
        font-size:16px;
        font-family:FZLTXHK;
        font-weight:400;
        color:rgba(254,250,250,1);
        line-height:17px;
    }
    .foot-text li{
        font-size: 16px;
        color: #FFF;
        line-height: 50px;
        margin-left: 20px;
    }
}