{include file="public/header" /}
{include file="public/about/head" /}
<link type="text/css" href="/static/www/css/about/head.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!--行高-->
        <div class="col-md-12" style="height: 31px"></div>
        <!--标题-->
        <div class="col-md-12 text-center"></div>
        <!--行高-->
        <div class="col-md-12" style="height: 43px"></div>
        <!--4个标题-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 35px"></div>
        <!--文字介绍-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--第一段文字介绍-->
                <div class="col-md-12"></div>
                <!--行高-->
                <div class="col-md-12" style="height: 10px"></div>
                <!--第二段文字介绍-->
                <div class="col-md-12"></div>
                <!--行高-->
                <div class="col-md-12" style="height: 5px"></div>
                <!--图片-->
                <div class="col-md-12"></div>
                <!--行高-->
                <div class="col-md-12" style="height: 5px"></div>
                <!--第三段文字介绍-->
                <div class="col-md-12"></div>
                <!--行高-->
                <div class="col-md-12" style="height: 40px"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/cn/cn_foot" /}