{include file="public/header" /}
<link type="text/css" href="/static/www/css/industry/industry.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!--背景图-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-4"></div>
                <div class="col-md-8"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--第二张背景图-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-8"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--第三张背景图-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--图片-->
                <div class="col-md-4"></div>
                <!--文字-->
                <div class="col-md-8"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--第四张背景图-精深分割-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>
            <div class="col-md-2"></div>
        </div>
        <!--第五张背景图-冷链运输-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>
            <div class="col-md-2"></div>
        </div>
        <!--温度控制背景-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>
            <div class="col-md-2"></div>
        </div>
        <!--物流管理背景-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>
            <div class="col-md-2"></div>
        </div>
        <!--销售终端-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/cn/cn_foot" /}