{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/index.css" rel="stylesheet">
<link type="text/css" href="/static/www/css/industry/industry.css" rel="stylesheet">
<div class="container-fluid padding-0">
    <div class="row padding-0 margin-0">
        <!--背景图-->
        <div class="col-md-12 one-bj">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-4" style="margin-top: 65px">
                    <img src="/static/www/img/industry/1_yang.png" width="100%">
                </div>
                <div class="col-md-8" style="margin-top: 48px">
                    <h3>有机饲料加工</h3>
                    <small>SHEEP FEED</small>
                    <div class="col-md-12 padding-0">
                        <img src="/static/www/img/industry/1_xia_hua_xian.png">
                    </div>
                    <div class="col-md-12 padding-0">
                        <img src="/static/www/img/industry/1_shou_chuang.png" width="100%">
                    </div>
                    <div class="col-md-12 padding-0">
                        <h6>
                            中农伟业集良种繁育与优质肉羊生产为一体，采用国际先进TMR全混合日粮饲喂方式。现代化粪污处理方式，
                            引进有机肥生产工艺，年生产有机肥10000吨，公司大量收购农作物秸秆作为贮备饲料，每年可消化废弃农作物秸秆20000吨，
                            可减少焚烧秸秆造成的碳排放和大气污染，切实破解规模养殖污染治理和粪便资源化利用等一系列难题，促进经济可持续循环发展。
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" style="height:80px "></div>
        </div>
        <!--第二张背景图-->
        <div class="col-md-12 two-bj">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-8 two" style="margin-top: 44px">
                    <h3>基地生态养殖</h3>
                    <small>BASE ECOLOGICAL CULTURE</small>
                    <div class="col-md-12 padding-0">
                        <img src="/static/www/img/industry/2_xia_hua_xian.png">
                    </div>
                    <div class="col-md-12 padding-0">
                        <h6>
                            我们的山泉羊饮用水来自国内知名的泉林泉群地下泉脉。泉群地处泰沂低山丘陵边缘，东部陪尾山海拔130米，
                            西部汶泗断层地堑处在100米以下。山麓盆地相接处，众泉会聚，形成泉群奇观。
                        </h6>
                        <h6>
                            它是山东省最大的上升泉，涌水量为12万吨/日。泉水来自地下深处，水温常年保持在16-18℃之间,水质清冽，
                            硬度大，PH值在0.7以上，泉水无砷、汞、镉等有毒物质，钦用则甘甜爽口，煮茶则色清味正，酿酒则酒冽生香，
                            常钦此泉水能清心爽神，延年益寿。
                        </h6>
                    </div>
                    <div class="col-md-12 padding-0 button" style="margin-top: 35px">
                        <div class="col-md-4" style="padding-left: 0">
                            <img src="/static/www/img/industry/2_1_button.png" style="width: 100%;">
                        </div>
                        <div class="col-md-4">
                            <img src="/static/www/img/industry/2_2_button.png" style="width: 86%">
                        </div>
                        <div class="col-md-4 padding-0">
                            <img src="/static/www/img/industry/2_3_button.png" style="width: 74%">
                        </div>
                    </div>
                    <div class="col-md-12" style="height: 89px"></div>
                </div>
                <div class="col-md-4" style="margin-top: 50px">
                    <img src="/static/www/img/industry/2_right.png" width="100%">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--第三张背景图-->
        <div class="col-md-12 three-bj">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--图片-->
                <div class="col-md-4" style="margin-top: 72px">
                    <img src="/static/www/img/industry/3_left.png" style="width: 100%">
                </div>
                <!--文字-->
                <div class="col-md-1"></div>
                <div class="col-md-7" style="margin-top: 112px">
                    <h3>屠宰加工</h3>
                    <small>SLAUGHTERING PROCESSING</small>
                    <div class="col-md-12 padding-0">
                        <img src="/static/www/img/industry/1_xia_hua_xian.png">
                    </div>
                    <div class="col-md-12 padding-0 three-text">
                        <h6>
                            公司自建成以来，非常注重体系完善、技术创新和品牌建设，以提高产品质量，降低生产成本。
                            拥有世界顶级自动化屠宰进口加工设备，中国唯一屠宰加工技术，采用现代屠宰加工业先进的肉后成熟排酸工艺，
                            严格按照卫生检疫规程进行加工生产，严控生产流程，确保食品安全。
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" style="height: 63px"></div>
        </div>
        <!--第四张背景图-精深分割-->
        <div class="col-md-12 four-bj">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center" style="margin-top: 70px">
                <h3>精深分割</h3>
                <small>SLAUGHTERING PROCESSING</small>
                <div class="col-md-12 padding-0">
                    <img src="/static/www/img/industry/1_xia_hua_xian.png">
                </div>
                <div class="col-md-12 padding-0 three-text">
                    <h6>
                        中农伟业冷鲜羊肉选用优质羊源 羊屠宰前停食静养12h～24h，保证羊只屠宰前最佳状态，避免激素及有害物质的产生。
                        鲜肉生产线满足GMP和HACCP认证体系，洁净程度达到10万级。羊屠宰后迅速使胴体温度在24小时内降为0—4℃，
                        进行冷却排酸工艺处理，，其卫生品质显著提高。冷鲜羊肉整个生产过程实现了全程封闭运行，全程冷链加工，
                        全程环节监控，肉质柔嫩有弹性，质地细腻，有很高的营养价值。
                    </h6>
                </div>
                <div class="col-md-12 four-text" style="margin-top: 20px">
                    <div class="col-md-3">
                        <img src="/static/www/img/industry/4_1.png" width="100%">
                        <h6>分割车间</h6>
                    </div>
                    <div class="col-md-3">
                        <img src="/static/www/img/industry/4_2.png" width="100%">
                        <h6>精细修选</h6>
                    </div>
                    <div class="col-md-3">
                        <img src="/static/www/img/industry/4_3.png" width="100%">
                        <h6>温度控制</h6>
                    </div>
                    <div class="col-md-3">
                        <img src="/static/www/img/industry/4_4.png" width="100%">
                        <h6>双层传送</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" style="height: 50px"></div>
        </div>
        <!--第五张背景图-冷链运输-->
        <div class="col-md-12 five-bj">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center five-text">
                <h3>冷链运输</h3>
                <small>COLD CHAIN LOGISTICS</small>
                <div class="col-md-12 padding-0">
                    <img src="/static/www/img/industry/2_xia_hua_xian.png">
                </div>
                <div class="col-md-12 padding-0 three-text">
                    <h6>
                        中农伟业冷鲜羊肉选用优质羊源 羊屠宰前停食静养12h～24h，保证羊只屠宰前最佳状态，避免激素及有害物质的产生。
                        鲜肉生产线满足GMP和HACCP认证体系，洁净程度达到10万级。羊屠宰后迅速使胴体温度在24小时内降为0—4℃，
                        进行冷却排酸工艺处理，，其卫生品质显著提高。冷鲜羊肉整个生产过程实现了全程封闭运行，全程冷链加工，
                        全程环节监控，肉质柔嫩有弹性，质地细腻，有很高的营养价值。
                    </h6>
                </div>
                <div class="col-md-12 four-text" style="margin-top: 20px">
                    <div class="col-md-3">
                        <img src="/static/www/img/industry/5_1.png" width="100%">
                        <h6>冷冻加工</h6>
                    </div>
                    <div class="col-md-3">
                        <img src="/static/www/img/industry/5_2.png" width="100%">
                        <h6>冷冻储藏</h6>
                    </div>
                    <div class="col-md-3">
                        <img src="/static/www/img/industry/5_3.png" width="100%">
                        <h6>冷藏运输</h6>
                    </div>
                    <div class="col-md-3">
                        <img src="/static/www/img/industry/5_4.png" width="100%">
                        <h6>冷藏销售</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" style="height: 48px"></div>
        </div>
        <!--温度控制背景-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center six-text">
                <h3>温度控制</h3>
                <small>TEMPERATURE CONTROL</small>
                <div class="col-md-12 padding-0">
                    <img src="/static/www/img/industry/1_xia_hua_xian.png">
                </div>
                <div class="col-md-12" style="height: 30px"></div>
                <h6>
                    肉类冷藏运输环节的核心是连续、精确、可靠的温度控制，这对冷藏车的性能及实时监控要求颇高。
                    任何细小的温度变化都会导致细菌的滋生及食品质量的降低，中农伟业物流通过建立温度记录，跟踪温度控制等措施，
                    做到了对冷链系统的全过程进行实时温度管理的水平。
                </h6>
                <div class="col-md-12" style="margin-top: 30px">
                    <div class="col-md-4">
                        <img src="/static/www/img/industry/6_1.png" width="100%">
                    </div>
                    <div class="col-md-4">
                        <img src="/static/www/img/industry/6_2.png" width="100%">
                    </div>
                    <div class="col-md-4">
                        <img src="/static/www/img/industry/6_3.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" style="height: 50px"></div>
        </div>
        <!--物流管理背景-->
        <div class="col-md-12 seven-bj">
            <div class="col-md-12" style="height: 58px"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-6 seven-text">
                    <h3>物流管理</h3>
                    <small>PHYSICAL DISTRIBUTION MANAGEMENT</small>
                    <div class="col-md-12 padding-0">
                        <img src="/static/www/img/industry/1_xia_hua_xian.png">
                    </div>
                    <div class="col-md-12" style="height: 38px"></div>
                    <h6>
                        在经营管理上，中农伟业加强货物的跟踪管理，利用GPS定位等科技手段方式，使在途货物在可控范围内，为了满足客户要求，
                        保证货物的最快速度发运，一方面，制作物流发运的时间要求，将订单的满足率和及时率两项指标列入了绩效考核目标。
                        另一方面对于货物运输的时间温度等方面进行了严格要求。“超强的分拣能力”是中农传业物流的优势，
                        精确的库存管理是中农传业物流的特长，中农传业物流希望能与更多商家合作，共同致力于中国冷链运输事业的发展。
                    </h6>
                </div>
                <div class="col-md-6" style="margin-top: 50px">
                    <img src="/static/www/img/industry/7_right.png" width="100%">
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" style="height: 78px"></div>
        </div>
        <!--销售终端-->
        <div class="col-md-12 eight-bj">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-6" style="margin-top: 83px">
                    <img class="earth" src="/static/www/img/industry/8_left.png">
                </div>
                <div class="col-md-6 eight-text" style="margin-top: 20px">
                    <h3>销售终端</h3>
                    <small>TERMINAL SALES</small>
                    <div class="col-md-12 padding-0">
                        <img src="/static/www/img/industry/2_xia_hua_xian.png">
                    </div>
                    <div class="col-md-12" style="height: 18px"></div>
                    <h6>
                        中农伟业年屠宰量为羊100万只，可产肉20000吨。主要产品有：胴体羊、羊肉卷、部位羊、羊排、羊肉串、孜然羊肉等十几个品种，
                        畅销全国二十多个省、市、自治区
                    </h6>
                    <h3>销售网络遍布全国</h3>
                    <small>SALES NETWORK THROUGHOUT THE COUNTRY</small>
                    <h4>拓展全国、逐步走向世界</h4>
                </div>
            </div>
            <div class="col-md-12" style="height: 66px"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}