{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/index.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid padding-0" >
    <div class="row margin-0">
        <!--banner-->
        <div class="col-md-12 padding-0">
            <img src="/static/www/img/index/banner.png" style="width: 100%;">
        </div>
        <!--名优种羊品种-->
        <div class="col-md-12" style="background:rgba(240,252,222,1);">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="col-md-8" style="margin-top: 27px">
                    <img src="/static/www/img/index/pin_zhong.png" width="100%">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin-top: 99px">
                    <img src="/static/www/img/index/button_more.png" style="width: 100px;height: 25px">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--羊头像-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center" style="margin-top: 27px">
               <img src="/static/www/img/index/yang_pic.png" width="100%">
                <div class="col-md-12" style="margin-top: 10px">
                    <div class="col-md-3">

                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_1.png">
                        </div>
                        <h7>青山羊</h7>
                        <div class="col-md-12">
                            <h8>纯种青山羊性成熟早，繁殖率高，遗传性稳定，适应性强，</h8>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_2.png">
                        </div>
                        <h7>湖羊</h7>
                        <div class="col-md-12">
                            <h8>湖羊是太湖平原重要的家畜之一，是我国一级地方畜禽保 护品种</h8>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_3.png">
                        </div>
                        <h7>澳洲白</h7>
                        <div class="col-md-12">
                            <h8>中农伟业引进世界优质种羊-澳洲白、基因好</h8>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_4.png">
                        </div>
                        <h7>萨福克种羊</h7>
                        <div class="col-md-12">
                            <h8>为了改良品种结构，中农伟业还引进萨福克种羊。该品种称为</h8>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
        <!--走进中农之家-->
        <div class="col-md-12" style="margin-top: 70px;background-image: url('/static/www/img/index/zn_bj.png')">
            <div class="col-md-12 text-center" style="margin-top: 34px">
                <h9>走进中农之家</h9><br>
                <small>INTO THE MIDDLE FARM HOUSE</small>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin-top: 37px">
                <div class="col-md-4">
                    <img src="/static/www/img/index/tel.png" width="100%">
                </div>
                <div class="col-md-8">
                    <div class="col-md-12 text-center">
                        <img src="/static/www/img/index/IOCN.png">
                    </div>
                   <div class="col-md-12" style="margin-top: 23px">
                       <h10>中农之家是中农伟业有限公司推出的一款互联网养羊理财产品，是一家致力于改善农牧产业链结构的垂直类互联网+品牌。</h10>
                   </div>
                    <div class="col-md-12" style="margin-top: 23px">
                        <h10>中农之家是一个致力于改善育肥羊产业链结构的垂直类农牧业互联网+科技公司品牌，是区别于传统互联网产品形态的一个全新平台，
                            致力于打通用户理财需求和农牧业企业扩大养殖规模以及消除屠宰场账期平稳过渡的.............
                        </h10>
                    </div>
                    <div class="col-md-12" style="margin-top: 31px">
                        <div class="col-md-4">
                            <img src="/static/www/img/index/liao_jie_more.png" width="100%">
                        </div>
                        <div class="col-md-4">
                            <img src="/static/www/img/index/click_zi_xun.png" width="100%">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--中农产品-->
        <div class="col-md-12">
            <!--标题-->
            <div class="col-md-12 text-center" style="margin-top: 38px">
                <h9>中农产品</h9><br>
                <small>PRODUCT DISPLAY392362h</small>
            </div>
            <!--banner-->
            <div class="col-md-12">

            </div>
        </div>
        <!--全产业链-->
        <div class="col-md-12" style="background-image: url('/static/www/img/index/quan_chan_ye_lian.png')">
            <!--标题-->
            <div class="col-md-12 text-center" style="margin-top: 34px">
                <h9>全产业链</h9><br>
                <small>A PERFECT INDUSTRY CHAIN</small>
            </div>
            <div class="col-md-12 text-center">
                <a href="#"><img src="/static/www/img/index/chan_ye_lian_button.png"> </a>
            </div>
            <!--图片-->
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center" style="margin-top: 80px">
                    <img src="/static/www/img/index/liu_cheng_tu.png" width="100%">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12" style="height: 100px"></div>
        </div>
        <!--新闻资讯-->
        <div class="col-md-12 padding-0">
            <!--标题-->
            <div class="col-md-12 text-center" style="margin-top: 47px">
                <h9>新闻资讯</h9><br>
                <small>NEWS AND INFORMATION</small>
            </div>
            <div class="col-md-12 padding-0" style="margin-top: 33px">
                <div class="col-md-2"></div>
                <div class="col-md-3 pic-padding">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img src="/static/www/img/index/new1.png" width="100%">
                        </div>
                        <div class="col-md-8">
                            <h8>春渐暖，湖羊美，到了品尝美味羊肉的最佳季节。羊肉羊........</h8><br>
                            <h8>查看详情</h8>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img src="/static/www/img/index/new1.png" width="100%">
                        </div>
                        <div class="col-md-8">
                            <h8>春渐暖，湖羊美，到了品尝美味羊肉的最佳季节。羊肉羊........</h8>
                            <br>
                            <h8>查看详情</h8>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img src="/static/www/img/index/new1.png" width="100%">
                        </div>
                        <div class="col-md-8">
                            <h8>春渐暖，湖羊美，到了品尝美味羊肉的最佳季节。羊肉羊........</h8>
                            <br>
                            <h8>查看详情</h8>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <h10>查看更多 >></h10>
                    </div>
                    <div class="col-md-12"></div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <img src="/static/www/img/index/new_big.png" width="100%">
                </div>
                <div class="col-md-1">
                    <img class="new_bj" src="/static/www/img/index/new_bj.png">
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/foot" /}