{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/index.css" rel="stylesheet">
<link type="text/css" href="/static/admin/css/banner/Cooldog.css" rel="stylesheet">
<link type="text/css" href="/static/admin/css/banner/iconfont.css" rel="stylesheet">

<div class="container-fluid" style="padding: 0px" >
    <div class="row" style="margin: 0px">
        <!--banner-->
        <div class="col-md-12" style="padding: 0px">
            <img src="/static/www/img/index/banner.png" style="width: 100%;">
        </div>
        <!--名优种羊品种-->
        <div class="col-md-12" style="background:rgba(240,252,222,1);">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-8" style="margin: 27px 0 0 15px">
                    <img src="/static/www/img/index/pin_zhong.png" width="100%">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin: 84px 0 0 0">
                    <a href="/product"><img src="/static/www/img/index/button_more.png" style="width: 80%;margin-left: 45px"></a>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" style="height: 48px"></div>
        </div>
        <!--羊头像-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center" style="margin-top: 27px">
                <div class="col-md-12" style="margin-top: 10px">
                    <div class="col-md-3" style="margin-left: -15px">
                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_1.png" width="100%">
                        </div>
                        <div class="col-md-12" style="height: 20px"></div>
                        <div class="col-md-12"><h7>青山羊</h7></div>
                        <div class="col-md-12" >
                            <img src="/static/www/img/index/yang_xian.png">
                        </div>
                        <div class="col-md-12">
                            <h8>纯种青山羊性成熟早，繁殖率高，遗传性稳定，适应性强，</h8>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_2.png" width="100%">
                        </div>
                        <div class="col-md-12" style="height: 20px"></div>
                        <h7>湖羊</h7>
                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_xian.png">
                        </div>
                        <div class="col-md-12">
                            <h8>湖羊是太湖平原重要的家畜之一，是我国一级地方畜禽保 护品种</h8>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_3.png" width="100%">
                        </div>
                        <div class="col-md-12" style="height: 20px"></div>
                        <h7>澳洲白</h7>
                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_xian.png">
                        </div>
                        <div class="col-md-12">
                            <h8>中农伟业引进世界优质种羊-澳洲白、基因好</h8>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_4.png" width="100%">
                        </div>
                        <div class="col-md-12" style="height: 20px"></div>
                        <h7>萨福克种羊</h7>
                        <div class="col-md-12">
                            <img src="/static/www/img/index/yang_xian.png">
                        </div>
                        <div class="col-md-12">
                            <h8>为了改良品种结构，中农伟业还引进萨福克种羊。该品种称为</h8>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
        <!--走进中农之家-->
        <div class="col-md-12" style="margin-top: 70px;background-image: url('/static/www/img/index/zn_bj.png')">
            <div class="col-md-12 text-center" style="margin-top: 34px">
                <h9>走进中农之家</h9><br>
                <small>INTO THE MIDDLE FARM HOUSE</small>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin-top: 37px">
                <div class="col-md-4">
                    <img src="/static/www/img/index/tel.png" style="width: 100%">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 text-center">
                        <img src="/static/www/img/index/IOCN.png" style="width: 100%">
                    </div>
                    <div class="col-md-1"></div>

                   <div class="col-md-12" style="margin-top: 23px">
                       <h10>中农之家是中农伟业有限公司推出的一款互联网养羊理财产品，是一家致力于改善农牧产业链结构的垂直类互联网+品牌。</h10>
                   </div>
                    <div class="col-md-12" style="margin-top: 23px">
                        <h10>中农之家是一个致力于改善育肥羊产业链结构的垂直类农牧业互联网+科技公司品牌，是区别于传统互联网产品形态的一个全新平台，
                            致力于打通用户理财需求和农牧业企业扩大养殖规模以及消除屠宰场账期平稳过渡的.............
                        </h10>
                    </div>
                    <div class="col-md-12" style="margin-top: 31px">
                        <div class="col-md-4">
                            <a href="/home"><img src="/static/www/img/index/liao_jie_more.png" width="100%"></a>
                        </div>
                        <div class="col-md-4">
                            <img src="/static/www/img/index/click_zi_xun.png" width="100%">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--中农产品-->
        <div class="col-md-12 padding-0">
            <!--标题-->
            <div class="col-md-12 text-center " style="margin-top: 38px">
                <h9>中农产品</h9><br>
                <small>PRODUCT DISPLAY</small>
            </div>
            <div class="col-md-12" style="height: 35px"></div>
            <!--banner-->
            <div class="Cooldog_container">
                <div class="Cooldog_content">
                    <ul>
                        <li class="p3">
                            <img src="/static/www/img/index/hui_die_pai.png" alt="">
                            <div class="col-md-12 banner-text">
                                <br>
                                <p>蝴蝶排</p><br>
                                <div>
                                    <span>基地饲养的羊，从饲料配方、饲料加工、羊羔饲养到成料加工、羊羔饲养到成</span>
                                </div>
                            </div>
                        </li>
                        <li class="p4">
                            <img src="/static/www/img/index/yang_pai.png" alt="">
                            <div class="col-md-12 banner-text">
                                <p>羊排</p><br>
                                <div>
                                    <span>基地饲养的羊，从饲料配方、饲料加工、羊羔饲养到成料加工、羊羔饲养到成</span>
                                </div>
                            </div>
                        </li>
                        <li class="p5">
                            <img src="/static/www/img/index/yang_rou_juan.png" alt="">
                            <div class="col-md-12 banner-text">
                                <br>
                                <p>羊肉卷</p><br>
                                <div>
                                    <span>基地饲养的羊，从饲料配方、饲料加工、羊羔饲养到成料加工、羊羔饲养到成</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="javascript:;" class="btn_left">
                    <i class="iconfont icon-zuoyoujiantou"></i>
                </a>
                <a href="javascript:;" class="btn_right">
                    <i class="iconfont icon-zuoyoujiantou-copy-copy"></i>
                </a>
                <a href="javascript:;" class="btn_close">
                    <i class="iconfont icon-icon-test"></i>
                </a>
                <div class="buttons clearfix">
                    <a href="javascript:;" class="color"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                </div>
            </div>
            <div class="col-md-12" id="enlarge_div">
            </div>
        </div>
        <!--全产业链-->
        <div class="col-md-12" style="background-image: url('/static/www/img/index/quan_chan_ye_lian.png')">
            <!--标题-->
            <div class="col-md-12 text-center chain" style="margin-top: 34px">
                <h9>全产业链</h9><br>
                <small>A PERFECT INDUSTRY CHAIN</small>
            </div>
            <div class="col-md-12" style="height: 20px"></div>
            <div class="col-md-5"></div>
            <div class="col-md-2 text-center">
                <a href="/industry"><img src="/static/www/img/index/chan_ye_lian_button.png" style="width: 50%"></a>
            </div>
            <div class="col-md-5"></div>
            <!--图片-->
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center" style="margin-top: 80px">
                    <img src="/static/www/img/index/liu_cheng_tu.png" width="100%">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12" style="height: 100px"></div>
        </div>
        <!--新闻资讯-->
        <div class="col-md-12 padding-0">
            <!--标题-->
            <div class="col-md-12 text-center" style="margin-top: 47px">
                <h9>新闻资讯</h9><br>
                <small>NEWS AND INFORMATION</small>
            </div>
            <div class="col-md-12 padding-0" style="margin-top: 33px">
                <div class="col-md-2"></div>
                <div class="col-md-3 pic-padding">
                    {volist name='list' id='vo'}
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <img src="{$new_imgpath}{$vo.ns_img}" width="100%">
                        </div>
                        <div class="col-md-7  new-text" style="padding-right: 0">
                            <h8>{$vo.ns_descript}......</h8>
                            <br>
                            <h8><a href="/newsInfo/{$vo.ns_id}">查看详情</a></h8>
                        </div>
                    </div>
                    {/volist}
                    <div class="col-md-12 text-center news-more" style="border-bottom:1px solid rgba(231,231,231,1); ">
                        <h10><a href="/news">查看更多 >></a></h10>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <img class="img-2" src="/static/www/img/index/new_big.png">
                </div>
                <div class="col-md-1">
                    <img class="new_bj" src="/static/www/img/index/new_bj.png">
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-1"></div>
    </div>
</div>
{include file="public/foot" /}