{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/index.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--banner-->
        <div class="col-md-12"></div>
        <!--名优种羊品种-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="col-md-8"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--羊头像-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--走进中农之家-->
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-4"></div>
                <div class="col-md-8"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!--中农产品-->
        <div class="col-md-12">
            <!--标题-->
            <div class="col-md-12 text-center"></div>
            <!--banner-->
            <div class="col-md-12">

            </div>
        </div>
        <!--全产业链-->
        <div class="col-md-12">
            <!--标题-->
            <div class="col-md-12 text-center"></div>
            <!--图片-->
            <div class="col-md-12">

            </div>
        </div>
        <!--新闻资讯-->
        <div class="col-md-12">
            <!--标题-->
            <div class="col-md-12 text-center">

            </div>
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-8"></div>
            </div>
        </div>
    </div>
</div>
{include file="public/cn/cn_foot" /}